body{
    background: rgb(255, 255, 255);
    margin: 0;
}
.navigation{
    margin-top: -20px;
    background: red;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap :30px;
}
.nav ul li{
    list-style: none;
    gap: 5px;
    display: flex;
    flex-direction: ;
}
.nav ul li a{
    text-decoration: none;
    color: green;
    font-weight: bold;
    font-size: 22px;
}
.nav ul li a:hover{
    transition: 1s ease-in-out;
    color: brown;
    border-top: 2px solid blue;
    border-radius: 10px;
    background: yellow;
    padding: 0.5em 0.5em;
    border-bottom: 2px solod blue;
    align-items: baseline;

}